@model IEnumerable<MealPlanner.Models.Recipe>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Recipies
</div>
<table class="table">
    @{int i = 0; }
    @foreach (var item in Model)
    {

        int dayOfWeekInt = ((i + 7) % 7);
        DayOfWeek weekday = DateTime.Today.AddDays(dayOfWeekInt).DayOfWeek;
        i++;

        <tr>
            <td class="col-md-1">
                @weekday
            </td>
            <td>
                <div class="col-md-4">
                    <p>
                        @Html.LabelFor(modelItem => item.title)
                        @Html.DisplayFor(modelItem => item.title)
                    </p>

                </div>
            </td>

            <td>
                <div class="col-md-4">
                    <img src="@Html.DisplayFor(modelItem => item.image)">
                </div>
            </td>
            <td>
                <div class="col-md-3">
                    @Html.ActionLink("View Recipe", "ViewRecipe", new { id = item.Id })
                    @Html.ActionLink("Save", "Index", new { id = item.Id })
                    @Html.ActionLink("Replace With Similar", "NewSimilarRecipe", new { id = item.Id })
                    @Html.ActionLink("Replace With Random", "NewRandomRecipe", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }
</table>





