@model IEnumerable<MealPlanner.Models.Recipe>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{int i = 0; }
@foreach (var item in Model)
{
    if (i == 0 && item.Saved != true)
    {
        <h2>
            This Week
        </h2>
        <ul>
            <li>
                <h4>
                    @Html.ActionLink("Give Me New Receipes", "NewMeals")
                </h4>
            </li>
        </ul>

    }
    else if (i == 0 && item.Saved == true)
    {
        <h2>
            Saved Recipes
        </h2>
    }
    <div class="row">
        @if (item.Saved == false)
        {
            int dayOfWeekInt = ((i + 7) % 7);
            DayOfWeek weekday = DateTime.Today.AddDays(dayOfWeekInt).DayOfWeek;
            i++;
            <h2>
                @weekday
           </h2>
        }

        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.title)
            <ul>
                <li>@Html.ActionLink("View Recipe", "ViewRecipe", new { id = item.Id }) </li>

                @if (item.Saved == false)
                {
                    <li>@Html.ActionLink("Save", "Saved", new { id = item.Id }) </li>
                    <li>@Html.ActionLink("Replace With Similar", "NewSimilarRecipe", new { id = item.Id })</li>
                    <li>@Html.ActionLink("Replace With Random", "NewRandomRecipe", new { id = item.Id })</li>
                }
                <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
            </ul>
        </div>

        <div class="col-md-8">
            <img src="@Html.DisplayFor(modelItem => item.image)" style="height:35rem">
        </div>
        <div class="col-md-4">
        </div>




    </div>
}




