@model IEnumerable<MealPlanner.Models.Recipe>

@{
    ViewBag.Title = "Home Page";
}

<div>
    Recipies
</div>
<table class="table">
    @{int i = 0; }
    @foreach (var item in Model)
    {

        int dayOfWeekInt = ((i + 7) % 7);
        DayOfWeek weekday = DateTime.Now.DayOfWeek + dayOfWeekInt;
        i++;

        <tr>
            <td>
                @weekday
            </td>
            <td>
                <div class="col-lg-5">
                    @Html.LabelFor(modelItem => item.title)
                    @Html.DisplayFor(modelItem => item.title)
                </div>
            </td>

            <td>
                <div class="col-lg-3">
                    <img src="@Html.DisplayFor(modelItem => item.image)">
                </div>
            </td>
            <td>
                <div class="col-lg-2">
                    @Html.ActionLink("New", "Index")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }
</table>





