@model IEnumerable<MealPlanner.Models.IngredientsForRecipes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Add To Fridge", "Add", new { name=item.IngredientName}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArbitraryId })
        </td>
    </tr>
}
</table>
